<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="/users/buyerHome">
    <img src="/images/logoBlanco.png" width="55" height="50" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0" action="/busqueda1">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar producto" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0 text-light" type="submit">Buscar</button>
        </form>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" href="/busqueda1" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categorías
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Calzado</a>
          <a class="dropdown-item" href="#">Electrónicos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Juguetes</a>
        </div>
      </li>
    </ul>
    <form action="/users/buyerHome">
      <button class="btn btn-primary"> Inicio</button>
    </form>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle headerUsername" type="button" id="<%= userid %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-person-circle"></i>   <%=   username %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/users/buyerProfile">Perfil de usuario</a>
        <a class="dropdown-item" href="#">Saldo actual:  3000</a>
        <a class="dropdown-item" href="/saldo">Gestionar Saldo</a>
        <a class="dropdown-item" href="/CalifProduc">Calificaciones</a>
        <a class="dropdown-item" href="/users/HistorialCompras">Historiales</a>
        <a class="dropdown-item" href="/">Salir</a>
      </div>
    </div>
    <form action="/">
      <button class="btn btn-primary"><i class="bi bi-question-circle"></i>Ayuda</button>
    </form>
    <form action="/users/cart">
      <button class="btn btn-primary"><i class="bi bi-cart-plus"></i>Carrito</button>
    </form>
  </div>
</nav>
  