<!-- Footer -->
<footer class="page-footer font-small bg-primary pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase" style="color: white; font-weight: lighter; font-size: xx-large;">Digitienda</h5>
          <p style="color: white; font-weight: lighter; font-size: large;">
            Trabajamos para ofrecer la mejor experiencia de compra dentro de la web.</p>
          <hr>
          <div class="container d-flex justify-content-center align-center">
            <img src="/images/logoBlanco.png" width="80" height="75" alt="">
          </div>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase" id="linkstitle">Bienvenido.</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="/home" id="linkstext">Inicio</a>
            </li>
            <li>
              <a href="/busqueda1" id="linkstext">Productos</a>
            </li>
            <li>
              <a href="/cart" id="linkstext">Carrito</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase"  id="linkstitle">Conocenos.</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" id="linkstext" >Sobre nosotros.</a>
            </li>
            <li>
              <a href="https://www.facebook.com/" target="_blank" id="linkstext">Facebook</a>
            </li>
            <li>
              <a href="https://www.instagram.com/?hl=es-la" target="_blank" id="linkstext">Instagram</a>
            </li>
            <li>
              <a href="https://twitter.com/?lang=es" target="_blank" id="linkstext">Twitter</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: white;">© 2020 Digitienda
      <a href="/" class="text-white link-light"> Digitienda.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

  <style>
    #linkstitle{
      color: white;
      font-weight: lighter;
      font-size: x-large;
    }

    #linkstext{
      color: white;
      font-weight: lighter;
    }
  </style>