<!DOCTYPE html>
<html>
	<head>
		<title>Historial</title>
		<%- include('partials/head'); %>
	</head>
	<body>
	<header class="header">
		<%- include('partials/sellerHeader'); %>
	</header>
	<main>
		
	</main>	
	<footer>
		<%- include('partials/footerSeller'); %>
	</footer>
	</body>
</html>
