<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>

<header>
    <%- include('partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        

        <div class="container mt-5 pt-3">

        
            <div class="row pt-4">
    
                <!-- Sidebar -->
                <div class="col-lg-3">
    
                    <div class="">
                        <!-- Grid row -->
                        <div class="row">
    
                            <!-- Filter by category-->
                            <div class="col-md-6 col-lg-12 mb-5">
                                <h5 class="font-weight-bold dark-grey-text"><strong>Categorias</strong></h3>
                                    <div class="divider"></div>
    
                                    <!--Radio group-->
                                    <div class="form-group ">
                                        <input class="form-check-input" name="group100" type="radio" id="radio100" checked>
                                        <label for="radio100" class="form-check-label dark-grey-text">Todas</label>
                                    </div>
    
                                    <div class="form-group">
                                        <input class="form-check-input" name="group100" type="radio" id="radio101" checked>
                                        <label for="radio101" class="form-check-label dark-grey-text">Electrónicos</label>
                                    </div>
    
                                    <div class="form-group">
                                        <input class="form-check-input" name="group100" type="radio" id="radio102">
                                        <label for="radio102" class="form-check-label dark-grey-text">Calzado</label>
                                    </div>
    
                                    <div class="form-group">
                                        <input class="form-check-input" name="group100" type="radio" id="radio103">
                                        <label for="radio103" class="form-check-label dark-grey-text">Articulos para el hogar</label>
                                    </div>
    
                                    <div class="form-group">
                                        <input class="form-check-input" name="group100" type="radio" id="radio104">
                                        <label for="radio104" class="form-check-label dark-grey-text">Equipo de deporte</label>
                                    </div>

                                    <div class="form-group">
                                        <input class="form-check-input" name="group100" type="radio" id="radio105">
                                        <label for="radio105" class="form-check-label dark-grey-text">Juguetes</label>
                                    </div>

                                    <div class="form-group">
                                        <input class="form-check-input" name="group100" type="radio" id="radio106">
                                        <label for="radio106" class="form-check-label dark-grey-text">Herramientas</label>
                                    </div>

                                    <div class="form-group">
                                        <input class="form-check-input" name="group100" type="radio" id="radio107">
                                        <label for="radio107" class="form-check-label dark-grey-text">Articulos para mascotas</label>
                                    </div>
                                    <!--Radio group-->
                            </div>
                            <!-- /Filter by category-->
                        </div>
                        <!-- /Grid row -->
    
                        <!-- Grid row -->
                        <div class="row">
    
                        </div>
                        <!-- /Grid row -->
                    </div>
    
                </div>
                <!-- /.Sidebar -->
    
                <!-- Content -->
                <div class="col-lg-9">
    
                    <!-- Products Grid -->
                    <section class="section pt-4">
    
                        <!-- Grid row -->
                        <div class="row">
    
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-4">
    
                                <!--Card-->
                                <div class="card card-ecommerce">
    
                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="https://res.cloudinary.com/walmart-labs/image/upload/w_225,dpr_auto,f_auto,q_auto:good/mg/gm/1p/images/product-images/img_large/00019019980708l.jpg" class="img-fluid" alt="">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!--Card image-->
    
                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Category & Title-->
    
                                        <h5 class="card-title mb-1"><strong><a href="" class="dark-grey-text">Apple iPad 4 4G versión A1460</a></strong></h5>

                                        <div class="card-footer pb-0">
                                            <div class="row mb-0">
                                                <span class="float-left"><strong>1439$</strong></span>
                                                <span class="float-right">
    
                                            <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-shopping-cart ml-3"></i></a>
                                            </span>
                                            </div>
                                        </div>
    
                                    </div>
                                    <!--Card content-->
    
                                </div>
                                <!--Card-->
    
                            </div>
                            <!--Grid column-->
    
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4">
                                <!--Card-->
                                <div class="card card-ecommerce">
    
                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="https://res.cloudinary.com/walmart-labs/image/upload/w_225,dpr_auto,f_auto,q_auto:good/mg/gm/1p/images/product-images/img_large/00694105964328-1l.jpg" class="img-fluid" alt="">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!--Card image-->
    
                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Category & Title-->
    
                                        <h5 class="card-title mb-1"><strong><a href="/Producto" class="dark-grey-text">Smartphone Xiaomi Redmi Note 9 128 GB</a></strong></h5>
                                        <!--Card footer-->
                                        <div class="card-footer pb-0">
                                            <div class="row mb-0">
                                                <span class="float-left"><strong>1439$</strong></span>
                                                <span class="float-right">
    
                                                    <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-shopping-cart ml-3"></i></a>
                                                    </span>
                                            </div>
                                        </div>
    
                                    </div>
                                    <!--Card content-->
    
                                </div>
                                <!--Card-->
    
                            </div>
                            <!--Grid column-->
    
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4">
    
                                <!--Card-->
                                <div class="card card-ecommerce">
    
                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/6.jpg" class="img-fluid" alt="">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!--Card image-->
    
                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Category & Title-->
    
                                        <h5 class="card-title mb-1"><strong><a href="" class="dark-grey-text">Audífonos Bluetooth Inalámbricos Tipo Diadema</a></strong></h5>
                                        <!-- Rating -->

                                        <!--Card footer-->
                                        <div class="card-footer pb-0">
                                            <div class="row mb-0">
                                                <span class="float-left"><strong>1439$</strong></span>
                                                <span class="float-right">
    
                                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-shopping-cart ml-3"></i></a>
                                                </span>
                                            </div>
                                        </div>
    
                                    </div>
                                    <!--Card content-->
    
                                </div>
                                <!--Card-->
    
                            </div>
                            <!--Grid column-->
    
                        </div>
                        <!--Grid row-->
    
                        <!-- Grid row -->
                        <div class="row">
    
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-4">
    
                                <!--Card-->
                                <div class="card card-ecommerce">
    
                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="https://res.cloudinary.com/walmart-labs/image/upload/w_225,dpr_auto,f_auto,q_auto:good/mg/gm/1p/images/product-images/img_large/00880609052527l.jpg" class="img-fluid" alt="">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!--Card image-->
    
                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Category & Title-->
    
                                        <h5 class="card-title mb-1"><strong><a href="" class="dark-grey-text">Smartphone Samsung Galaxy A21S 64 GB</a></strong></h5>
                                        <!-- Rating -->

                                        <!--Card footer-->
                                        <div class="card-footer pb-0">
                                            <div class="row mb-0">
                                                <span class="float-left"><strong>1439$</strong></span>
                                                <span class="float-right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-shopping-cart ml-3"></i></a>
                                                </span>
                                            </div>
                                        </div>
    
                                    </div>
                                    <!--Card content-->
    
                                </div>
                                <!--Card-->
    
                            </div>
                            <!--Grid column-->
    
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4">
                                <!--Card-->
                                <div class="card card-ecommerce">
    
                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="https://res.cloudinary.com/walmart-labs/image/upload/w_225,dpr_auto,f_auto,q_auto:good/mg/gm/3pp/asr/449568c0-3165-4e58-bee4-784d84bcb0e1.b5a3d7e93bcd1792aaa9d8dec98fdf7a.jpeg?odnHeight=2000&odnWidth=2000&odnBg=ffffff" class="img-fluid" alt="">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!--Card image-->
    
                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Category & Title-->
    
                                        <h5 class="card-title mb-1"><strong><a href="" class="dark-grey-text">TV SONY 65" SMART 4K SONY KD-65X75CH</a></strong></h5>
                                        <!-- Rating -->
                                        
                                        <!--Card footer-->
                                        <div class="card-footer pb-0">
                                            <div class="row mb-0">
                                                <span class="float-left"><strong>1439$</strong></span>
                                                <span class="float-right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-shopping-cart ml-3"></i></a>
                                                </span>
                                            </div>
                                        </div>
    
                                    </div>
                                    <!--Card content-->
    
                                </div>
                                <!--Card-->
    
                            </div>
                            <!--Grid column-->
    
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4">
    
                                <!--Card-->
                                <div class="card card-ecommerce">
    
                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="https://res.cloudinary.com/walmart-labs/image/upload/w_225,dpr_auto,f_auto,q_auto:good/mg/gm/1p/images/product-images/img_large/00884116378396l.jpg" class="img-fluid" alt="">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!--Card image-->
    
                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Category & Title-->
    
                                        <h5 class="card-title mb-1"><strong><a href="" class="dark-grey-text">Laptop Dell Inspiron I3505 AMD Ryzen 5 8GB RAM 256GB SSD
                                        </a></strong></h5>
                                        <!-- Rating -->
                                        
                                        <!--Card footer-->
                                        <div class="card-footer pb-0">
                                            <div class="row mb-0">
                                                <span class="float-left"><strong>1439$</strong></span>
                                                <span class="float-right">
    
                                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-shopping-cart ml-3"></i></a>
                                                </span>
                                            </div>
                                        </div>
    
                                    </div>
                                    <!--Card content-->
    
                                </div>
                                <!--Card-->
    
                            </div>
                            <!--Grid column-->
    
                        </div>
                        <!--Grid row-->
    
                        <!-- Grid row -->
                        <div class="row mb-3">
    
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-4">
    
                                <!--Card-->
                                <div class="card card-ecommerce">
    
                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="https://res.cloudinary.com/walmart-labs/image/upload/w_225,dpr_auto,f_auto,q_auto:good/mg/gm/3pp/asr/c266f0db-8204-4ef9-b5cf-972b34408ef0.7a0fa76993e25a21589ed5db855a349b.jpeg?odnHeight=2000&odnWidth=2000&odnBg=ffffff" class="img-fluid" alt="">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!--Card image-->
    
                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Category & Title-->
    
                                        <h5 class="card-title mb-1"><strong><a href="" class="dark-grey-text">Smartphone ZTE BLADE V20 Smart 128 GB Azul</a></strong></h5>
                                        <!-- Rating -->
                                       
                                        <!--Card footer-->
                                        <div class="card-footer pb-0">
                                            <div class="row mb-0">
                                                <span class="float-left"><strong>1439$</strong></span>
                                                <span class="float-right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-shopping-cart ml-3"></i></a>
                                                </span>
                                            </div>
                                        </div>
    
                                    </div>
                                    <!--Card content-->
    
                                </div>
                                <!--Card-->
    
                            </div>
                            <!--Grid column-->
    
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4">
                                <!--Card-->
                                <div class="card card-ecommerce">
    
                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="https://res.cloudinary.com/walmart-labs/image/upload/w_225,dpr_auto,f_auto,q_auto:good/mg/gm/1p/images/product-images/img_large/00019513303080l.jpg" class="img-fluid" alt="">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!--Card image-->
    
                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Category & Title-->
    
                                        <h5 class="card-title mb-1"><strong><a href="" class="dark-grey-text">Laptop Acer Aspire 5 A514-53-75RC Intel Core i7 Gen 10th 8GB RAM</a></strong></h5>
                                        <!-- Rating -->
                                        
                                        <!--Card footer-->
                                        <div class="card-footer pb-0">
                                            <div class="row mb-0">
                                                <span class="float-left"><strong>1439$</strong></span>
                                                <span class="float-right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-shopping-cart ml-3"></i></a>
                                                </span>
                                            </div>
                                        </div>
    
                                    </div>
                                    <!--Card content-->
    
                                </div>
                                <!--Card-->
    
                            </div>
                            <!--Grid column-->
    
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4">
    
                                <!--Card-->
                                <div class="card card-ecommerce">
    
                                    <!--Card image-->
                                    <div class="view overlay">
                                        <img src="https://res.cloudinary.com/walmart-labs/image/upload/w_225,dpr_auto,f_auto,q_auto:good/mg/gm/1p/images/product-images/img_large/00750229404883l.jpg" class="img-fluid" alt="">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <!--Card image-->
    
                                    <!--Card content-->
                                    <div class="card-body">
                                        <!--Category & Title-->
    
                                        <h5 class="card-title mb-1"><strong><a href="" class="dark-grey-text">Cámara Nikon Z50 con lente 16-50 Negra</a></strong></h5>
                                        <!-- Rating -->
                                        
                                        <!--Card footer-->
                                        <div class="card-footer pb-0">
                                            <div class="row mb-0">
                                                <span class="float-left"><strong>1439$</strong></span>
                                                <span class="float-right">
                                                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-shopping-cart ml-3"></i></a>
                                                </span>
                                            </div>
                                        </div>
    
                                    </div>
                                    <!--Card content-->
    
                                </div>
                                <!--Card-->
    
                            </div>
                            <!--Grid column-->
    
                        </div>
                        <!--Grid row-->
    
                        <!--Grid row-->
                        <div class="row justify-content-center mb-4">
    
                            <!--Pagination -->
                            <nav class="mb-4">
                                <ul class="pagination pagination-circle pg-blue mb-0">
    
                                    <!--First-->
                                    <li class="page-item disabled clearfix d-none d-md-block"><a class="page-link waves-effect waves-effect">Primera</a></li>
    
                                    <!--Arrow left-->
                                    <li class="page-item disabled">
                                        <a class="page-link waves-effect waves-effect" aria-label="Previous">
                                            <span aria-hidden="true">«</span>
                                            <span class="sr-only">Anterior</span>
                                        </a>
                                    </li>
    
                                    <!--Numbers-->
                                    <li class="page-item active"><a class="page-link waves-effect waves-effect">1</a></li>
                                    <li class="page-item"><a class="page-link waves-effect waves-effect">2</a></li>
                                    <li class="page-item"><a class="page-link waves-effect waves-effect">3</a></li>
                                    <li class="page-item"><a class="page-link waves-effect waves-effect">4</a></li>
                                    <li class="page-item"><a class="page-link waves-effect waves-effect">5</a></li>
    
                                    <!--Arrow right-->
                                    <li class="page-item">
                                        <a class="page-link waves-effect waves-effect" aria-label="Next">
                                            <span aria-hidden="true">»</span>
                                            <span class="sr-only">Siguiente</span>
                                        </a>
                                    </li>
    
                                    <!--First-->
                                    <li class="page-item clearfix d-none d-md-block"><a class="page-link waves-effect waves-effect">Ultima</a></li>
    
                                </ul>
                            </nav>
                            <!--/Pagination -->
    
                        </div>
                        <!--Grid row-->
                    </section>
                    <!-- /.Products Grid -->
    
                </div>
                <!-- /.Content -->
    
            </div>
    
        </div>
        
    </div>
</main>
<footer>
    <%- include('partials/footer'); %>
</footer>
</body>
</html>