<!DOCTYPE html>
<html>
	<head>
		<title>Historial</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>
	<body>
	<header class="header">
			<section id="regresarH">
				<form>
					 <button class="botonH">Regresar</button>
				</form>
			</section>
		<div id="encabezadoH">
			<section id="buscarH">
				<form>
					<input type="text" name="buscarH" placeholder="Buscar en historial">
					 <button class="botonH">Buscar</button>
				</form>
			</section>
		</div>
	</header>
		
		<section id="principalH">
		<section id="publicacionesH">
			<article class="postH">
				<a href="" class="enlace-post"><h2 class="TituloH"><center>HISTORIALES</center></h2></a>
				<a href="HistorialCompras.HTML" class="boton-historiales"><H3 class="">&nbsp;&nbsp;Historial de compras</H3></a>
				<a href="HistorialCalificacionesProductos.html" class="boton-historiales"><H3 class="Historial-Actual">&nbsp;&nbsp;Historial de calificaciones de productos</H3></a>
				<a href="HistorialCalificacionesVendedores.html" class="boton-historiales"><H3 class="">&nbsp;&nbsp;Historial de calificaciones de &nbsp;&nbsp;vendedores</H3></a>
				<a href="HistorialPublicaciones.html" class="boton-historiales"><H3 class="">&nbsp;&nbsp;Historial de publicaciones de productos</H3></a>
				<a href="HistorialVentas.html" class="boton-historiales"><H3 class="">&nbsp;&nbsp;Historial de ventas</H3></a>
				&nbsp; &nbsp;
			</article>
			</section>
			
			<section id="Historial-reciente">
				
			<section id="Titulo2">
				<h2 class="encabezado-sidebar">Lunes 25 de mayo de 2021</h2>
			</section>
				
			<section id="comprasH">
				<a href="" class="enlace-sidebar">
				<h4>IPhone XS XMAX DORADO</h4>
				<p>Precio: $8,999</p>
				<p>Calificación: 4 estrellas</p>
				</a>
			</section>
			<section id="imagenH">
				<img src="images/Iphone.jpg" class="img-productoH">
			</section>
				
			<section id="Titulo2">
				<h2 class="encabezado-sidebar2">Miercoles 19 de mayo de 2021</h2>
			</section>
			<section id="comprasH">
				<a href="" class="enlace-sidebar">
				<h4>Tupper de silicona</h4>
				<p>Precio: $200</p>
				<p>Calificación: 5 estrellas</p>
				</a>
				<a href="" class="enlace-sidebar">
				<h4>Pack de 3 calzones</h4>
				<p>Precio: $150</p>
				<p>Calificación: 5 estrellas</p>
				</a>
			</section>
			
			<section id="imagenH">
				<img src="images/Tupper.jpg" class="img-productoH">
			</section>
			<section id="imagenH">
				<img src="images/calzones.jpg" class="img-productoH">
			</section>
				
			<section id="Titulo2">
				<h2 class="encabezado-sidebar2">Jueves 6 de mayo de 2021</h2>
			</section>
			<section id="comprasH">
				<a href="" class="enlace-sidebar">
				<h4>Taladro</h4>
				<p>Precio: $650</p>
				<p>Calificación: 3 estrellas</p>
				</a>
								<a href="" class="enlace-sidebar">
				<h4>Playstation 4</h4>
				<p>Precio: $10,200</p>
				<p>Calificación: 5 estrellas</p>
				</a>
			</section>
			
			<section id="imagenH">
				<img src="images/taladro.jpeg" class="img-productoH">
			</section>
			<section id="imagenH">
				<img src="images/playstation.jpg" class="img-productoH">
			</section>
				
			</section>
			
		</section>
	</body>
</html>