<!DOCTYPE html>
<html>
	<head>
		<title>Historial</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>
	<body>
	<header class="header">
			<section id="regresarH">
				<form>
					 <button class="botonH">Regresar</button>
				</form>
			</section>
		<div id="encabezadoH">
			<section id="buscarH">
				<form>
					<input type="text" name="buscarH" placeholder="Buscar en historial">
					 <button class="botonH">Buscar</button>
				</form>
			</section>
		</div>
	</header>
		
		<section id="principalH">
		<section id="publicacionesH">
			<article class="postH">
				<a href="" class="enlace-post"><h2 class="TituloH"><center>HISTORIALES</center></h2></a>
				<a href="HistorialCompras.HTML" class="boton-historiales"><H3 class="">&nbsp;&nbsp;Historial de compras</H3></a>
				<a href="HistorialCalificacionesProductos.html" class="boton-historiales"><H3 class="">&nbsp;&nbsp;Historial de calificaciones de productos</H3></a>
				<a href="HistorialCalificacionesVendedores.html" class="boton-historiales"><H3 class="">&nbsp;&nbsp;Historial de calificaciones de &nbsp;&nbsp;vendedores</H3></a>
				<a href="" class="boton-historiales"><H3 class="Historial-Actual">&nbsp;&nbsp;Historial de publicaciones de productos</H3></a>
				<a href="HistorialVentas.html" class="boton-historiales"><H3 class="">&nbsp;&nbsp;Historial de ventas</H3></a>
				&nbsp; &nbsp;
			</article>
			</section>
			
			<section id="Historial-reciente">
				
			<section id="Titulo2">
				<h2 class="encabezado-sidebar">Lunes 25 de mayo de 2021</h2>
			</section>
				
			<section id="comprasH">
				<a href="" class="enlace-sidebar">
				<h4>IPhone XS XMAX DORADO</h4>
				<p>Precio asignado: $8,999</p>
				</a>
			</section>
			<section id="imagenH">
				<img src="images/Iphone.jpg" class="img-productoH">
			</section>
				
			<section id="Titulo2">
				<h2 class="encabezado-sidebar2">Domingo 24 de mayo de 2021</h2>
			</section>
			<section id="comprasH">
				<a href="" class="enlace-sidebar">
				<h4>Vestido de fiesta</h4>
				<p>Precio asignado: $500</p>
				</a>
								<a href="" class="enlace-sidebar">
				<h4>Botas de vestir</h4>
				<p>Precio asignado: $1,250</p>
				</a>
			</section>
			
			<section id="imagenH">
				<img src="images/Vestido.jpg" class="img-productoH">
			</section>
			<section id="imagenH">
				<img src="images/Botas.jpg" class="img-productoH">
			</section>
				
			<section id="Titulo2">
				<h2 class="encabezado-sidebar2">Sábado 1 de mayo de 2021</h2>
			</section>
			<section id="comprasH">
				<a href="" class="enlace-sidebar">
				<h4>Tennis Nike Originales</h4>
				<p>Precio asignado: $1,999</p>
				</a>
								<a href="" class="enlace-sidebar">
				<h4>Control de playstation 4</h4>
				<p>Precio asignado: $1,200</p>
				</a>
			</section>
			
			<section id="imagenH">
				<img src="images/Tennis.jpg" class="img-productoH">
			</section>
			<section id="imagenH">
				<img src="images/control.jpg" class="img-productoH">
			</section>
				
			</section>
			
		</section>
	</body>
</html>