<!DOCTYPE html>
<html>
	<head>
		<title>Historial</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>
	<body>
	<header class="header">
			<section id="regresarH">
				<form>
					 <button class="botonH">Regresar</button>
				</form>
			</section>
		<div id="encabezadoH">
			<section id="buscarH">
				<form>
					<input type="text" name="buscarH" placeholder="Buscar en historial">
					 <button class="botonH">Buscar</button>
				</form>
			</section>
		</div>
	</header>
		
		<section id="principalH">
		<section id="publicacionesH">
			<article class="postH">
				<a href="" class="enlace-post"><h2 class="TituloH"><center>HISTORIALES</center></h2></a>
				<a href="HistorialCompras.HTML" class="boton-historiales"><H3 class="">&nbsp;&nbsp;Historial de compras</H3></a>
				<a href="HistorialCalificacionesProductos.html" class="boton-historiales"><H3 class="">&nbsp;&nbsp;Historial de calificaciones de productos</H3></a>
				<a href="" class="boton-historiales"><H3 class="Historial-Actual">&nbsp;&nbsp;Historial de calificaciones de &nbsp;&nbsp;vendedores</H3></a>
				<a href="HistorialPublicaciones.html" class="boton-historiales"><H3 class="">&nbsp;&nbsp;Historial de publicaciones de productos</H3></a>
				<a href="HistorialVentas.html" class="boton-historiales"><H3 class="">&nbsp;&nbsp;Historial de ventas</H3></a>
				&nbsp; &nbsp;
			</article>
			</section>
			
			<section id="Historial-reciente">
				
			<section id="Titulo2">
				<h2 class="encabezado-sidebar">Vendedor: Juanito González Perez</h2>
			</section>
			
			<section id="imagenH2">
				<img src="images/Persona.jpg" class="img2-productoH">
			</section>
				
			<section id="Titulo2">
				<h2 class="encabezado-sidebar2">Jueves 20 de mayo de 2021</h2>
			</section>
			<section id="comprasH3">
				<a href="" class="enlace-sidebar">
				<h4>Calificación asignada: 5 estrellas</h4>
				<p>Producto vendido: Calcetines de Ben 10</p>
				<p>Descripción: El vendedor hizo todo bien, excelente servicio.</p>
				</a>
				<a href="" class="enlace-sidebar">
				<h4>Calificación asignada: 3 estrellas</h4>
				<p>Producto vendido: Laptop Acer</p>
				<p>Descripción: El producto estuvo bien, pero la atención del vendedor no fue tan agradable</p>
				</a>
			</section>
				
			<section id="Titulo2">
				<h2 class="encabezado-sidebar2">Viernes 7 de mayo de 2021</h2>
			</section>
			<section id="comprasH3">
				<a href="" class="enlace-sidebar">
				<h4>Calificación asignada: 5 estrellas</h4>
				<p>Producto vendido: Pantuflas de cocodrilo</p>
				<p>Descripción: El vendedor me atendió bien.</p>
				</a>
				<a href="" class="enlace-sidebar">
				<h4>Calificación asignada: 5 estrellas</h4>
				<p>Producto vendido: Audifonos Sony</p>
				<p>Descripción: Si</p>
				</a>
			</section>
			</section>
			
		</section>
	</body>
</html>