<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>

<header>
    <%- include('partials/header'); %>
</header>

<main>
    <div class="bg-primary">
        <div class="container text-center text-light">
            <img class="" src="/images/logo1.svg" width="200" height="200" alt="">
            <p>EcaStore es una plataforma para comerciantes y habitantes locales de Ecatepec. 
                ¡Únete<br> a esta gran comunidad y realiza tu primera 
                compra o vende tu primer producto  
            </p>
        </div>
        <div class="sm:row d-flex justify-content-center">
            <div class="col-md-2 col-xs-8">
                <img class="cat img-fluid" src="/images/shop2.jpeg" >
            </div>
            <div class="col-md-2 col-xs-8">
                <img class="cat img-fluid" src="/images/shop1.jpeg" >
            </div>
            <div class="col-md-2 col-xs-8">
                <img class="cat img-fluid" src="/images/shop3.jpeg" >
            </div>
        </div>
        <div class="mt-5 d-flex justify-content-center">
            <form method="get" action="users/login">
                <button type="submit" class="btn btn-light btn-lg mb-5">Comprar ahora</button>
            </form>
        </div>
    </div>
</main>
<footer>
    <%- include('partials/footer'); %>
</footer>
</body>
</html>

<!-- <div class="container text-center text-light">
    <img class="" src="/images/logo1.svg" width="200" height="200" alt="">
    <p>EcaStore es una plataforma para comerciantes y habitantes locales de Ecatepec. 
        ¡Únete<br> a esta gran comunidad y realiza tu primera 
        compra o vende tu primer producto  
    </p>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-md-2 col-xs-8">
        <img class="cat img-fluid" src="/images/shop2.jpeg" >
    </div>
    <div class="col-md-2 col-xs-8">
        <img class="cat img-fluid" src="/images/shop1.jpeg" >
    </div>
    <div class="col-md-2 col-xs-8">
        <img class="cat img-fluid" src="/images/shop3.jpeg" >
    </div>
</div>
<div class="mt-5 row d-flex justify-content-center">
    <form method="get" action="users/login">
        <button type="submit" class="btn btn-light btn-lg mb-5">Comprar ahora</button>
    </form>
</div> -->