<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>

<header>
    <%- include('partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Metodo de Pago</h1>
        <div class="saldoD">
        <h2>Metodo de Pago Guardado</h2>
        </div>
        <table class="tableS">
            <tr>
            <th><form method="get" action="/"><button class="buttonS" >Inicio</button></form></th>
            
            <th><form method="get" action="/saldo"><button class="buttonS">Saldo</button></form></th>
            </tr>
        </table>
</div>
    
</main>
<footer>
    <%- include('partials/footer'); %>
</footer>
</body>
</html>