<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/head'); %>
</head>
<body>

<header>
    <%- include('partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Metodo de Pago</h1>
        <div class="saldoD">
        <h2>Seleccione la Tarjeta de Credito </h2>
        <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Titular</th>
                <th>Numero de Tarjeta</th>
                </tr>
            </thead>
            <tbody>
            <tr>
            <td><input type="radio" name="radios" id="radio1"/>
                <label for="radio1">1</label></td>
            <td>Jose Alfredo Palazuelos</td>
            <td>3245 - 2457 - 6543 - 8654</td>
            </tr>
            <tr>
                <td><input type="radio" name="radios" id="radio2"/>
                    <label for="radio2">2</label></td>
                <td>Laura Mitchell Vazquez Hurtado</td>
                <td>4637 - 9862 - 3047 - 1085</td>
                </tr>
            </tbody>
            
        </table>
        
    </div>
    </div>
    <table class="tableS">
            <tr>
            <th><form method="get" action="/saldo"><button class="buttonS" >Cancelar</button></form></th>
            <th><form method="get" action="/NTarjeta"><button class="buttonS">Ingresar Nueva Tarjeta</button></form></th>
            <th><form method="get" action="/MetodoG"><button class="buttonS">Guardar</button></form></th>
            </tr>
        </table>
</div>
    
</main>
<footer>
    <%- include('partials/footer'); %>
</footer>
</body>
</html>